---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
  href={href} 
  class:list={[
    "transition-colors duration-200 hover:text-gray-900",
    isActive ? "text-gray-900 font-medium" : "text-gray-500",
    className
  ]} 
  {...props}
>
	<slot />
</a>
